.dropdown {
  cursor: pointer;
}

ul #dropdown1 {
  width: inherit;
  height: inherit;
}

ul #dropdown1 li {
  display: table-cell;
}

ul #dropdown1 li a {
  display: flex;
  letter-spacing: 2px;
  align-items: center;
}


.navbar-brand {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

 .container-fluid button {
  float: right;
  width: 57px;
  height: 25px;
  border: none;
}



ul .dropdown-menu {
  width: 140%;
}

hr {
    margin:40px 0;
}
h3 { color:#1758AA}
h3 span {font-size:14px; display:block;}
span[ng-click] {
        cursor: pointer;
}

.check-out-wid {
  width: 10%;
  cursor: pointer;
  margin: 0 auto;
}

.show-cart {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

.shop {
  color: white;
  float: right;
  padding-right: 5%;
}
/*
.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 1.5s;
  -moz-transition: all linear 1.5s;
  -o-transition: all linear 1.5s;
  transition: all linear 1.5s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

* {
  font-family: 'Open Sans', sans-serif;
}
.center-grey {
  background: #f2f2f2;
}

.slider {
  position: relative;
    width: 80%;
    height: 100%;
  margin: 0 auto;
}

.slide {
  position: absolute;
  box-shadow: 0px 0px 15px #999;
}*/

.home-container {
    padding-bottom: 56.25%;
    height: 0;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
