<h1>Find Your Ski</h1>
<div class="skis-container">
  <div class="skis-wrapper" ng-repeat="product in products">
     <img class="productImage" ng-src="{{product.product_image_url}}"/>
     <ul>
      <li><h3  ui-sref="product({id: {{product.product_id}}})">{{product.product_name}}</h3></li>
      <li><h4 style="color: #1758AA">${{product.product_price}}</h4></li>
      <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
    </ul>
  </div>
</div>
